<a href="https://colab.research.google.com/github/aakashkumar089/Class-notes/blob/main/OTS_pandas_combining_DataFrames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
data_one = {'A':['A1','A2','A3','A4','A5'],'B':['B1','B2','B3','B4','B5']}

In [3]:
data_two = {'C':['C1','C2','C3','C4','C5'],'D':['D1','D2','D3','D4','D5']}

In [4]:
type(data_one)

dict

In [5]:
one = pd.DataFrame(data_one)

one

    A   B
0  A1  B1
1  A2  B2
2  A3  B3
3  A4  B4
4  A5  B5

In [6]:
type(one)

pandas.core.frame.DataFrame

In [7]:
two = pd.DataFrame(data_two)

two

    C   D
0  C1  D1
1  C2  D2
2  C3  D3
3  C4  D4
4  C5  D5

In [8]:
pd.concat([one,two],axis=0)

     A    B    C    D
0   A1   B1  NaN  NaN
1   A2   B2  NaN  NaN
2   A3   B3  NaN  NaN
3   A4   B4  NaN  NaN
4   A5   B5  NaN  NaN
0  NaN  NaN   C1   D1
1  NaN  NaN   C2   D2
2  NaN  NaN   C3   D3
3  NaN  NaN   C4   D4
4  NaN  NaN   C5   D5

In [9]:
pd.concat([one,two],axis=1)

    A   B   C   D
0  A1  B1  C1  D1
1  A2  B2  C2  D2
2  A3  B3  C3  D3
3  A4  B4  C4  D4
4  A5  B5  C5  D5

In [10]:
# Merging the two real DF

registration = pd.DataFrame({'reg_id':[1,2,3],'name':['Ravi','Sam','Rajesh']})

In [11]:
logins = pd.DataFrame({'login_id':[1,2,3],'name':['Ajay','Ravi','Sam']})

In [12]:
registration

   reg_id    name
0       1    Ravi
1       2     Sam
2       3  Rajesh

In [13]:
logins

   login_id  name
0         1  Ajay
1         2  Ravi
2         3   Sam

In [14]:
pd.merge(registration,logins,how='inner',on='name')

   reg_id  name  login_id
0       1  Ravi         2
1       2   Sam         3

In [15]:
pd.merge(registration,logins,how='outer',on='name')

   reg_id    name  login_id
0     NaN    Ajay       1.0
1     3.0  Rajesh       NaN
2     1.0    Ravi       2.0
3     2.0     Sam       3.0

In [16]:
pd.merge(registration,logins,how='left')

   reg_id    name  login_id
0       1    Ravi       2.0
1       2     Sam       3.0
2       3  Rajesh       NaN

In [17]:
registration

   reg_id    name
0       1    Ravi
1       2     Sam
2       3  Rajesh

In [19]:
pd.merge(registration,logins,how="right",on='name')

   reg_id  name  login_id
0     NaN  Ajay         1
1     1.0  Ravi         2
2     2.0   Sam         3

In [20]:
registration

   reg_id    name
0       1    Ravi
1       2     Sam
2       3  Rajesh

In [21]:
logins

   login_id  name
0         1  Ajay
1         2  Ravi
2         3   Sam

In [22]:
registration = registration.set_index('reg_id')

In [23]:
registration

          name
reg_id
1         Ravi
2          Sam
3       Rajesh

In [24]:
registration = registration.reset_index()

In [25]:
registration

   reg_id    name
0       1    Ravi
1       2     Sam
2       3  Rajesh

In [26]:
registration.columns

Index(['reg_id', 'name'], dtype='object')

In [27]:
registration.columns = ['reg_idx','reg_name']

In [28]:
registration

   reg_idx reg_name
0        1     Ravi
1        2      Sam
2        3   Rajesh

# Pandas in Text

In [31]:
my_str = "hello python"

In [32]:
my_str.capitalize()

'Hello python'

In [33]:
my_str.isdigit()

False

In [44]:
my_names = ['sam','ajit','ravi','akhil',4]

In [45]:
names = pd.Series(my_names)

In [46]:
type(names)

pandas.core.series.Series

In [47]:
names

0      sam
1     ajit
2     ravi
3    akhil
4        4
dtype: object

In [48]:
names.str.capitalize()

0      Sam
1     Ajit
2     Ravi
3    Akhil
4      NaN
dtype: object

In [49]:
names.str.isdigit()

0    False
1    False
2    False
3    False
4      NaN
dtype: object

In [50]:
names.str.isnumeric()

0    False
1    False
2    False
3    False
4      NaN
dtype: object

In [51]:
my_names = ['sam,ajit','ravi,akhil']

In [61]:
my_str

'hello python'

In [62]:
my_str.split()

['hello', 'python']

In [52]:
len(my_names)

2

In [54]:
saperators = pd.Series(my_names)

In [55]:
print(saperators)

0      sam,ajit
1    ravi,akhil
dtype: object

In [56]:
saperators.str.split(',')

0      [sam, ajit]
1    [ravi, akhil]
dtype: object

In [57]:
saperators.str.split(',')[0]

['sam', 'ajit']

In [58]:
saperators.str.split(',').str[0]

0     sam
1    ravi
dtype: object

In [59]:
saperators.str.split(',',expand=True)

      0      1
0   sam   ajit
1  ravi  akhil

In [69]:
# Cleaning the String values

messay_names = pd.Series(['Google! ','ya;hu',' ama;;zon'])

In [70]:
messay_names

0     Google!
1        ya;hu
2     ama;;zon
dtype: object

In [71]:
messay_names.str.replace(";","")

0    Google!
1        yahu
2      amazon
dtype: object

In [76]:
half_cleaned_names = messay_names.str.replace(";","")

In [79]:
half_cleaned_names.str.replace("!","").str.strip().str.capitalize()

0    Google
1      Yahu
2    Amazon
dtype: object

In [83]:
def cleanup(name):
    name = name.replace(";","")
    name = name.replace("!","")
    name = name.strip()
    name = name.capitalize()

    return name

In [84]:
messay_names

0     Google!
1        ya;hu
2     ama;;zon
dtype: object

In [85]:
messay_names.apply(cleanup)

0    Google
1      Yahu
2    Amazon
dtype: object