<a href="https://colab.research.google.com/github/aakashkumar089/Class-notes/blob/main/OTS_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Function

In [ ]:
def say_hello():
    print('hello all')

In [ ]:
say_hello()

hello all

In [ ]:
def say_hello(name):
    print(f'hello {name}')

In [ ]:
say_hello('Outlier Technology solutions')

hello Outlier Technology solutions

In [ ]:
def say_hello(name="OTS"):
    print(f'hello {name}')

In [ ]:
say_hello()

hello OTS

In [ ]:
def divide_items(num1,num2):
    num = num1/ num2
    print(num)

In [ ]:
divide_items(4,8)

0.5

In [ ]:
def multiply_items(num1,num2):
    num = num1* num2
    print(num)

In [ ]:
multiply_items(8,6)

48

In [ ]:
def my_func(a,b):
    print(a+b)
    return a + b

In [ ]:
my_func(5,7)

12

12

In [ ]:
num = 822
num%2 == 0

True

In [ ]:
#for a single number
def check_even(n):
    if n%2==0:
        print(f'{n} is even')
    else:
        print(f'{n} is odd')

In [ ]:
check_even(8)

8 is even

In [ ]:
var_a = check_even(4)

4 is even

In [ ]:
# for a list
def check_list(num_list):
    for num in num_list:
        if num%2==0:
            print(num)
        else:
            print('no red ball')

In [ ]:
check_list([4,8,7,6,9])

4
8
no red ball
6
no red ball

In [ ]:
ls = [1,4,5,6]

In [ ]:
def check_new_list(ls):
    for i in ls:
        if i%2==0:
            print(i)
        else:
            print("Its odd")

In [ ]:
check_new_list(ls)

Its odd
4
Its odd
6

# Assignment Problem

## 1. Prompt the user "Enter your weight(in kgs)" and record weight.
## 2. Prompt the user "What is your preferred unit of height ? Type "F" for feet and "M" for meters" and record the preference".
## 3. If user says "F" then prompt user "You will enter your height given as feet and inches. First enter feet" and record feet and then prompt user "Now enter inches" and record inches.
## 4. If user says "M" then prompt user "What is your height in meters" and record height in meters.
## 5. If user had chosen "F" then convert height into meters.
## 6.Compute BMI using Formula

# BMI = Weight(in kgs)/Height^2 (in mtrs)

In [ ]:
weight = input("please Enter Your Weight in KG=")
height = input("please Enter Your Height =")

feet = input("Feet= F or Meter = M"  )
if feet == "F":
   print(f"Your height is {height} Feet")
elif feet == "M":
    print(f"Your height is {height} meter")
else:
   print("please Enter Value")

final = (f"your weight is {weight} and your height is {height} {feet}")

please Enter Your Weight in KG=50
please Enter Your Height =4
Feet= F or Meter = M2
please Enter Value

In [ ]:
weight = input("Weight please ? ")

Weight please ? 50

In [ ]:
type(weight)

str

# Solution

In [ ]:
def input_single_float(prompt):
    ret = float(input(prompt))
    return ret

In [ ]:
weight = int(input("Enter your weight"))
height = input("Enter your prefered unit of height 'F' or 'M': ")


def check_F_M():
    unit = ''
    while unit not in ['F','M']:
        unit = input("Pick between 'F' and 'M':")
    return unit

Height = check_F_M()
if Height == "F":
    height_in_feet = input_single_float("ENter your hight in feet:")
    inches = input_single_float("Enter in inches : ")
    meters = ((height_in_feet*12) + inches) * 0.0254
    print(f"Height in meters {meters}")

else:
    meters = input_single_float("Enter value in meter :")

height = meters

bmi = weight/height**2

print(f"Your Body BMI is: {bmi}")

if bmi < 19:
    print("You are underweight.Please visit your doctor.")
elif bmi < 25:
    print("Congrats you are normal")
elif bmi < 30:
    print("You are Overweight. Please visit to Doctor")
else:
    print("Very Overweight.Consult to Doctor immediately")

Enter your weight70
Enter your prefered unit of height 'F' or 'M': M
Pick between 'F' and 'M':1.2
Pick between 'F' and 'M':M
Enter value in meter :1.2
Your Body BMI is: 48.611111111111114
Very Overweight.Consult to Doctor immediately

In [ ]:
print(bmi)

1.6

In [ ]:

def check_F_M():
    unit = ''
    while unit not in ['F','M']:
        unit = input("Pick between 'F' and 'M':")
    return unit

In [ ]:
check_F_M()

Pick between 'F' and 'M':F

'F'

# Hide and Seek Game

In [ ]:
my_list = [1,2,3,4,5,6]

In [ ]:
print(my_list)

[1, 2, 3, 4, 5, 6]

In [ ]:
from random import shuffle

In [ ]:
shuffle(my_list)

In [ ]:
my_list

[4, 3, 2, 1, 5, 6]

In [ ]:
my_list

[4, 3, 2, 1, 5, 6]

In [ ]:
result = shuffle(my_list)

In [ ]:
print(result)

None

In [ ]:
def shuffle_list(my_list):
    shuffle(my_list)
    return my_list

In [ ]:
shuffle_list([1,2,3,4])

[2, 3, 1, 4]

In [ ]:
example = [1,2,3,4,5]

In [ ]:
result = shuffle_list(example)

In [ ]:
result

[2, 3, 1, 5, 4]

In [ ]:
my_new_list = ['','O','']

In [ ]:
result = shuffle_list(my_new_list)
print(result)

['', 'O', '']

In [ ]:
def player_guess():
    guess = ''

    while guess not in ['0','1','2']:
        guess = input("Enter the number between 0,1 or 2: ")
    return int(guess)

In [ ]:
player_guess()

Enter the number between 0,1 or 2: 0

0

In [ ]:
def check_guess(my_list2,guess):
    if my_list2[guess]== 'O':
        print("Congratulations, Correct guess..!")
        print(my_list2)
    else:
        print("Sorry its a wrong guess")
        print(my_list2)

In [ ]:
test_list = ['','O','']

mixed_list =shuffle_list(test_list)

guess = player_guess()

# check guess
check_guess(mixed_list,guess)

Enter the number between 0,1 or 2: 1
Congratulations, Correct guess..!
['', 'O', '']

# Check the frequency

In [ ]:
my_str = "Hello..! i am learning python and. And & python is an excitig language"

In [ ]:
def word_frequency(sentence):
    words = sentence.lower().split()

    frequency = {}
    for word in words:
        word = word.strip(",.!?")
        frequency[word]= frequency.get(word,0) + 1
        print(frequency[word])
    return frequency

In [ ]:
my_str.split()

['Hello..!',
 'i',
 'am',
 'learning',
 'python.',
 'And',
 'python',
 'is',
 'an',
 'excitig',
 'language']

In [ ]:
word_frequency(my_str)

1
1
1
1
1
1
2
1
1
1
1

{'hello': 1,
 'i': 1,
 'am': 1,
 'learning': 1,
 'python': 2,
 'and': 1,
 'is': 1,
 'an': 1,
 'excitig': 1,
 'language': 1}

# Lambda Functions

In [ ]:
add = lambda x,y:x+y
print(add(5,2))

7

In [ ]:
def add_num(x,y):
    sum = x+y
    return sum

In [ ]:
add_num(2,3)

5

In [ ]:
square = lambda x:x**2
print(square(2))

4

In [ ]:
my_list = [1,2,3,4,5]

def mutate_list(num):
    for i in num:
        print(i*2)

In [ ]:
mutate_list(my_list)

2
4
6
8
10

In [ ]:
#map
multiply2 =tuple(map(lambda x:x**2,my_list))

In [ ]:
print(multiply2)

(1, 4, 9, 16, 25)

In [ ]:
#filter

my_num = [1,2,4,5,7,8,9]

for num in my_num:
    if num%2 == 0:
        print(num)
    else:
        print('odd')

odd
2
4
odd
odd
8
odd

In [ ]:
result = tuple(filter(lambda x:x%2==0,my_num))

In [ ]:
print(result)

(2, 4, 8)

In [ ]:
# Pair of tuples
my_pair = [(1,5),(4,24.6),(6,10),(2,945)]

In [ ]:
print(my_pair)

[(1, 5), (4, 24.6), (6, 10), (2, 945)]

In [ ]:
type(my_pair)

list

In [ ]:
sorted_pair = sorted(my_pair,key=lambda x:x[0])

print(sorted_pair)

[(1, 5), (2, 945), (4, 24.6), (6, 10)]

In [ ]:
# Sorting the words
words = ["apple","Hello","banana","New York"]

In [ ]:
my_fruits = sorted(words,key=lambda x:len(x))
print(my_fruits)

['apple', 'Hello', 'banana', 'New York']

In [ ]:
my_sorted_fruits = sorted(words)

In [ ]:
print(my_sorted_fruits)

['Hello', 'New York', 'apple', 'banana']

In [ ]:
my_new_sorted_fruits = sorted(words,key=lambda x:x.lower())
print(my_new_sorted_fruits)

['apple', 'banana', 'Hello', 'New York']