<a href="https://colab.research.google.com/github/aakashkumar089/Class-notes/blob/main/OTS_Pandas_tips.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('/content/drive/MyDrive/Dataset/tips.csv')

In [3]:
df.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251

In [4]:
df.shape

(244, 11)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   total_bill        244 non-null    float64
 1   tip               244 non-null    float64
 2   sex               244 non-null    object
 3   smoker            244 non-null    object
 4   day               244 non-null    object
 5   time              244 non-null    object
 6   size              244 non-null    int64
 7   price_per_person  244 non-null    float64
 8   Payer Name        244 non-null    object
 9   CC Number         244 non-null    int64
 10  Payment ID        244 non-null    object
dtypes: float64(3), int64(2), object(6)
memory usage: 21.1+ KB

In [6]:
df.describe()

       total_bill         tip        size  price_per_person     CC Number
count  244.000000  244.000000  244.000000        244.000000  2.440000e+02
mean    19.785943    2.998279    2.569672          7.888197  2.563496e+15
std      8.902412    1.383638    0.951100          2.914234  2.369340e+15
min      3.070000    1.000000    1.000000          2.880000  6.040679e+10
25%     13.347500    2.000000    2.000000          5.800000  3.040731e+13
50%     17.795000    2.900000    2.000000          7.255000  3.525318e+15
75%     24.127500    3.562500    3.000000          9.390000  4.553675e+15
max     50.810000   10.000000    6.000000         20.270000  6.596454e+15

In [7]:
df['CC Number'].head()

0    3560325168603410
1    4478071379779230
2    6011812112971322
3    4676137647685994
4    4832732618637221
Name: CC Number, dtype: int64

In [9]:
df['CC Number'][0][-4::]

IndexError: invalid index to scalar variable.

In [10]:
def last_four(num):
    return str(num)[-4:]

In [11]:
last_four(3560325168603410)

'3410'

In [12]:
df['last_four']=df['CC Number'].apply(last_four)

In [13]:
df.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,last_four
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959,3410
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608,9230
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458,1322
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260,5994
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251,7221

In [14]:
df['total_bill'].mean()

np.float64(19.78594262295082)

In [15]:
def compare_bill(price):
    if price < 10:
        return '$'
    elif price >=10 and price < 30:
        return '$$'
    else:
        return '$$$'

In [16]:
df.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size',
       'price_per_person', 'Payer Name', 'CC Number', 'Payment ID',
       'last_four'],
      dtype='object')

In [17]:
df['Expense'] = df['total_bill'].apply(compare_bill)

In [18]:
df.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,last_four,Expense
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959,3410,$$
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608,9230,$$
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458,1322,$$
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260,5994,$$
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251,7221,$$

In [19]:
lambda num:num*2

In [20]:
df['total_bill'].apply(lambda bill:bill*0.18)

0      3.0582
1      1.8612
2      3.7818
3      4.2624
4      4.4262
        ...
239    5.2254
240    4.8924
241    4.0806
242    3.2076
243    3.3804
Name: total_bill, Length: 244, dtype: float64

In [21]:
df.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,last_four,Expense
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959,3410,$$
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608,9230,$$
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458,1322,$$
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260,5994,$$
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251,7221,$$

In [22]:
# Now we will check how to work with multiple colomns

def quality_tip(total_bill1,tip2):
    if tip2/total_bill1 >= 0.25:
        return "Good tip"
    else:
        return "Bad tip"

In [23]:
quality_tip(100,25)

'Good tip'

In [24]:
df[['total_bill','tip']].apply(lambda df:quality_tip(df['total_bill'],df['tip']),axis=1)

0      Bad tip
1      Bad tip
2      Bad tip
3      Bad tip
4      Bad tip
        ...
239    Bad tip
240    Bad tip
241    Bad tip
242    Bad tip
243    Bad tip
Length: 244, dtype: object

In [25]:
df['Quality_tip'] = df[['total_bill','tip']].apply(lambda df:quality_tip(df['total_bill'],df['tip']),axis=1)

In [26]:
df.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,last_four,Expense,Quality_tip
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959,3410,$$,Bad tip
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608,9230,$$,Bad tip
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458,1322,$$,Bad tip
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260,5994,$$,Bad tip
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251,7221,$$,Bad tip

In [27]:
df = df.drop(['Quality_tip'],axis=1)

In [28]:
df.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,last_four,Expense
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959,3410,$$
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608,9230,$$
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458,1322,$$
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260,5994,$$
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251,7221,$$

In [29]:
df[['total_bill','tip']].apply(lambda df:quality_tip(df['total_bill'],df['tip']),axis=1)

0      Bad tip
1      Bad tip
2      Bad tip
3      Bad tip
4      Bad tip
        ...
239    Bad tip
240    Bad tip
241    Bad tip
242    Bad tip
243    Bad tip
Length: 244, dtype: object

np.vectorize is an attribute of Numpy helps to vectorise the array

In [30]:
df.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,last_four,Expense
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959,3410,$$
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608,9230,$$
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458,1322,$$
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260,5994,$$
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251,7221,$$

In [32]:
df['Quality_tip']=np.vectorize(quality_tip)(df['total_bill'],df['tip'])

In [33]:
df.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,last_four,Expense,Quality_tip
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959,3410,$$,Bad tip
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608,9230,$$,Bad tip
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458,1322,$$,Bad tip
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260,5994,$$,Bad tip
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251,7221,$$,Bad tip

In [34]:
df['Quality_duplicate'] = df[['total_bill','tip']].apply(lambda df:quality_tip(df['total_bill'],df['tip']),axis=1)

In [35]:
df.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,last_four,Expense,Quality_tip,Quality_duplicate
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959,3410,$$,Bad tip,Bad tip
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608,9230,$$,Bad tip,Bad tip
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458,1322,$$,Bad tip,Bad tip
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260,5994,$$,Bad tip,Bad tip
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251,7221,$$,Bad tip,Bad tip

In [36]:
df = df.drop(['Quality_duplicate'],axis=1)

In [38]:
df.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,last_four,Expense,Quality_tip
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959,3410,$$,Bad tip
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608,9230,$$,Bad tip
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458,1322,$$,Bad tip
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260,5994,$$,Bad tip
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251,7221,$$,Bad tip

In [42]:
df.sort_values('total_bill',ascending=False)

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,last_four,Expense,Quality_tip
170,50.81,10.00,Male,Yes,Sat,Dinner,3,16.94,Gregory Clark,5473850968388236,Sat1954,8236,$$$,Bad tip
212,48.33,9.00,Male,No,Sat,Dinner,4,12.08,Alex Williamson,676218815212,Sat4590,5212,$$$,Bad tip
59,48.27,6.73,Male,No,Sat,Dinner,4,12.07,Brian Ortiz,6596453823950595,Sat8139,0595,$$$,Bad tip
156,48.17,5.00,Male,No,Sun,Dinner,6,8.03,Ryan Gonzales,3523151482063321,Sun7518,3321,$$$,Bad tip
182,45.35,3.50,Male,Yes,Sun,Dinner,3,15.12,Jose Parsons,4112207559459910,Sun2337,9910,$$$,Bad tip
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,7.51,2.00,Male,No,Thur,Lunch,2,3.76,Daniel Robbins,4823139288341889,Thur6321,1889,$,Good tip
111,7.25,1.00,Female,No,Sat,Dinner,1,7.25,Terri Jones,3559221007826887,Sat4801,6887,$,Bad tip
172,7.25,5.15,Male,Yes,Sun,Dinner,2,3.62,Larry White,30432617123103,Sun9209,3103,$,Good tip
92,5.75,1.00,Female,Yes,Fri,Dinner,2,2.88,Leah Ramirez,3508911676966392,Fri3780,6392,$,Bad tip
67,3.07,1.00,Female,Yes,Sat,Dinner,1,3.07,Tiffany Brock,4359488526995267,Sat3455,5267,$,Good tip

In [43]:
df.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,last_four,Expense,Quality_tip
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959,3410,$$,Bad tip
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608,9230,$$,Bad tip
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458,1322,$$,Bad tip
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260,5994,$$,Bad tip
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251,7221,$$,Bad tip

In [44]:
df.sort_values(['total_bill','size'])

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,last_four,Expense,Quality_tip
67,3.07,1.00,Female,Yes,Sat,Dinner,1,3.07,Tiffany Brock,4359488526995267,Sat3455,5267,$,Good tip
92,5.75,1.00,Female,Yes,Fri,Dinner,2,2.88,Leah Ramirez,3508911676966392,Fri3780,6392,$,Bad tip
111,7.25,1.00,Female,No,Sat,Dinner,1,7.25,Terri Jones,3559221007826887,Sat4801,6887,$,Bad tip
172,7.25,5.15,Male,Yes,Sun,Dinner,2,3.62,Larry White,30432617123103,Sun9209,3103,$,Good tip
149,7.51,2.00,Male,No,Thur,Lunch,2,3.76,Daniel Robbins,4823139288341889,Thur6321,1889,$,Good tip
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,45.35,3.50,Male,Yes,Sun,Dinner,3,15.12,Jose Parsons,4112207559459910,Sun2337,9910,$$$,Bad tip
156,48.17,5.00,Male,No,Sun,Dinner,6,8.03,Ryan Gonzales,3523151482063321,Sun7518,3321,$$$,Bad tip
59,48.27,6.73,Male,No,Sat,Dinner,4,12.07,Brian Ortiz,6596453823950595,Sat8139,0595,$$$,Bad tip
212,48.33,9.00,Male,No,Sat,Dinner,4,12.08,Alex Williamson,676218815212,Sat4590,5212,$$$,Bad tip
170,50.81,10.00,Male,Yes,Sat,Dinner,3,16.94,Gregory Clark,5473850968388236,Sat1954,8236,$$$,Bad tip

In [46]:
df.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,last_four,Expense,Quality_tip
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959,3410,$$,Bad tip
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608,9230,$$,Bad tip
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458,1322,$$,Bad tip
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260,5994,$$,Bad tip
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251,7221,$$,Bad tip

In [47]:
df['sex'].replace('Female','F')

0         F
1      Male
2      Male
3      Male
4         F
       ...
239    Male
240       F
241    Male
242    Male
243       F
Name: sex, Length: 244, dtype: object

In [48]:
df['sex'].replace('Male','M')

0      Female
1           M
2           M
3           M
4      Female
        ...
239         M
240    Female
241         M
242         M
243    Female
Name: sex, Length: 244, dtype: object

In [54]:
df['sex'] = df['sex'].replace(['Female','Male'],['F','M'])

In [55]:
df.head(10)

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,last_four,Expense,Quality_tip
0,16.99,1.01,F,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959,3410,$$,Bad tip
1,10.34,1.66,M,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608,9230,$$,Bad tip
2,21.01,3.50,M,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458,1322,$$,Bad tip
3,23.68,3.31,M,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260,5994,$$,Bad tip
4,24.59,3.61,F,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251,7221,$$,Bad tip
5,25.29,4.71,M,No,Sun,Dinner,4,6.32,Erik Smith,213140353657882,Sun9679,7882,$$,Bad tip
6,8.77,2.00,M,No,Sun,Dinner,2,4.38,Kristopher Johnson,2223727524230344,Sun5985,0344,$,Bad tip
7,26.88,3.12,M,No,Sun,Dinner,4,6.72,Robert Buck,3514785077705092,Sun8157,5092,$$,Bad tip
8,15.04,1.96,M,No,Sun,Dinner,2,7.52,Joseph Mcdonald,3522866365840377,Sun6820,0377,$$,Bad tip
9,14.78,3.23,M,No,Sun,Dinner,2,7.39,Jerome Abbott,3532124519049786,Sun3775,9786,$$,Bad tip

In [56]:
my_map = {'Female':'F','Male':'M'}

In [57]:
df['sex'].map(my_map)

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
      ...
239    NaN
240    NaN
241    NaN
242    NaN
243    NaN
Name: sex, Length: 244, dtype: object

In [58]:
df.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,last_four,Expense,Quality_tip
0,16.99,1.01,F,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959,3410,$$,Bad tip
1,10.34,1.66,M,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608,9230,$$,Bad tip
2,21.01,3.50,M,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458,1322,$$,Bad tip
3,23.68,3.31,M,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260,5994,$$,Bad tip
4,24.59,3.61,F,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251,7221,$$,Bad tip

In [59]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
239    False
240    False
241    False
242    False
243    False
Length: 244, dtype: bool

In [60]:
simple_df = pd.DataFrame([1,2,2,2,3,2,2],['a','b','c','d','e','f','g'])

In [61]:
simple_df

   0
a  1
b  2
c  2
d  2
e  3
f  2
g  2

In [62]:
simple_df.duplicated()

a    False
b    False
c     True
d     True
e    False
f     True
g     True
dtype: bool

In [63]:
simple_df.drop_duplicates()

   0
a  1
b  2
e  3

In [64]:
df.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,last_four,Expense,Quality_tip
0,16.99,1.01,F,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959,3410,$$,Bad tip
1,10.34,1.66,M,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608,9230,$$,Bad tip
2,21.01,3.50,M,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458,1322,$$,Bad tip
3,23.68,3.31,M,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260,5994,$$,Bad tip
4,24.59,3.61,F,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251,7221,$$,Bad tip

In [76]:
df[df['total_bill'].between(10,21,inclusive='both')].nlargest(3,'total_bill')

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,last_four,Expense,Quality_tip
104,20.92,4.08,F,No,Sat,Dinner,2,10.46,Gabrielle Frederick,4013010878990106,Sat3194,0106,$$,Bad tip
186,20.90,3.50,F,Yes,Sun,Dinner,3,6.97,Heidi Atkinson,4422858423131187,Sun4254,1187,$$,Bad tip
166,20.76,2.24,M,No,Sun,Dinner,2,10.38,Gordon Lane,4110599849536479,Sun6738,6479,$$,Bad tip

In [77]:
df[df['total_bill'].between(10,21,inclusive='both')].nsmallest(3,'total_bill')

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,last_four,Expense,Quality_tip
82,10.07,1.83,F,No,Thur,Lunch,1,10.07,Julie Moody,630413282843,Thur4909,2843,$$,Bad tip
235,10.07,1.25,M,No,Sat,Dinner,2,5.04,Sean Gonzalez,3534021246117605,Sat4615,7605,$$,Bad tip
226,10.09,2.00,F,Yes,Fri,Lunch,2,5.04,Ruth Weiss,5268689490381635,Fri6359,1635,$$,Bad tip

In [78]:
df.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,last_four,Expense,Quality_tip
0,16.99,1.01,F,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959,3410,$$,Bad tip
1,10.34,1.66,M,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608,9230,$$,Bad tip
2,21.01,3.50,M,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458,1322,$$,Bad tip
3,23.68,3.31,M,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260,5994,$$,Bad tip
4,24.59,3.61,F,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251,7221,$$,Bad tip

In [81]:
df.sample(frac=0.10)

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,last_four,Expense,Quality_tip
225,16.27,2.50,F,Yes,Fri,Lunch,2,8.14,Whitney Arnold,3579111947217428,Fri6665,7428,$$,Bad tip
171,15.81,3.16,M,Yes,Sat,Dinner,2,7.90,David Hall,502004138207,Sat6750,8207,$$,Bad tip
149,7.51,2.00,M,No,Thur,Lunch,2,3.76,Daniel Robbins,4823139288341889,Thur6321,1889,$,Good tip
119,24.08,2.92,F,No,Thur,Lunch,4,6.02,Melanie Jordan,676212062720,Thur8063,2720,$$,Bad tip
57,26.41,1.50,F,No,Sat,Dinner,2,13.20,Melody Simon,4745394421258160,Sat8980,8160,$$,Bad tip
29,19.65,3.00,F,No,Sat,Dinner,2,9.82,Melinda Murphy,5489272944576051,Sat2467,6051,$$,Bad tip
85,34.83,5.17,F,No,Thur,Lunch,4,8.71,Shawna Cook,6011787464177340,Thur7972,7340,$$$,Bad tip
46,22.23,5.00,M,No,Sun,Dinner,2,11.12,Joshua Gilmore,4292072734899,Sun7097,4899,$$,Bad tip
182,45.35,3.50,M,Yes,Sun,Dinner,3,15.12,Jose Parsons,4112207559459910,Sun2337,9910,$$$,Bad tip
47,32.40,6.00,M,No,Sun,Dinner,4,8.10,James Barnes,3552002592874186,Sun9677,4186,$$$,Bad tip
4,24.59,3.61,F,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251,7221,$$,Bad tip
154,19.77,2.00,M,No,Sun,Dinner,4,4.94,James Smith,213169731428229,Sun5814,8229,$$,Bad tip
54,25.56,4.34,M,No,Sun,Dinner,4,6.39,Ronald Owens,6569607991983380,Sun9470,3380,$$,Bad tip
40,16.04,2.24,M,No,Sat,Dinner,3,5.35,Adam Edwards,3544447755679420,Sat8549,9420,$$,Bad tip
59,48.27,6.73,M,No,Sat,Dinner,4,12.07,Brian Ortiz,6596453823950595,Sat8139,0595,$$$,Bad tip
34,17.78,3.27,M,No,Sat,Dinner,2,8.89,Jacob Castillo,3551492000704805,Sat8124,4805,$$,Bad tip
12,15.42,1.57,M,No,Sun,Dinner,2,7.71,Chad Harrington,577040572932,Sun1300,2932,$$,Bad tip
146,18.64,1.36,F,No,Thur,Lunch,3,6.21,Kelly Estrada,60463302327,Thur3941,2327,$$,Bad tip
143,27.05,5.00,F,No,Thur,Lunch,6,4.51,Regina Jones,4311048695487,Thur6179,5487,$$,Bad tip
170,50.81,10.00,M,Yes,Sat,Dinner,3,16.94,Gregory Clark,5473850968388236,Sat1954,8236,$$$,Bad tip
235,10.07,1.25,M,No,Sat,Dinner,2,5.04,Sean Gonzalez,3534021246117605,Sat4615,7605,$$,Bad tip
161,12.66,2.50,M,No,Sun,Dinner,2,6.33,Brandon Oconnor,4406882156920533,Sun5879,0533,$$,Bad tip
15,21.58,3.92,M,No,Sun,Dinner,2,10.79,Matthew Reilly,180073029785069,Sun1878,5069,$$,Bad tip
71,17.07,3.00,F,No,Sat,Dinner,3,5.69,Teresa Fisher,5442222963796367,Sat3469,6367,$$,Bad tip