<a href="https://colab.research.google.com/github/aakashkumar089/Class-notes/blob/main/OTS_pandas_categorical_missing_values_mpg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("/content/mpg.csv")

In [3]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [4]:
df.head(20)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
5,15.0,8,429.0,198,4341,10.0,70,1,ford galaxie 500
6,14.0,8,454.0,220,4354,9.0,70,1,chevrolet impala
7,14.0,8,440.0,215,4312,8.5,70,1,plymouth fury iii
8,14.0,8,455.0,225,4425,10.0,70,1,pontiac catalina
9,15.0,8,390.0,190,3850,8.5,70,1,amc ambassador dpl
10,15.0,8,383.0,170,3563,10.0,70,1,dodge challenger se
11,14.0,8,340.0,160,3609,8.0,70,1,plymouth 'cuda 340
12,15.0,8,400.0,150,3761,9.5,70,1,chevrolet monte carlo
13,14.0,8,455.0,225,3086,10.0,70,1,buick estate wagon (sw)
14,24.0,4,113.0,95,2372,15.0,70,3,toyota corona mark ii
15,22.0,6,198.0,95,2833,15.5,70,1,plymouth duster
16,18.0,6,199.0,97,2774,15.5,70,1,amc hornet
17,21.0,6,200.0,85,2587,16.0,70,1,ford maverick
18,27.0,4,97.0,88,2130,14.5,70,3,datsun pl510
19,26.0,4,97.0,46,1835,20.5,70,2,volkswagen 1131 deluxe sedan

In [5]:
df.shape

(398, 9)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    int64
 8   name          398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [7]:
df.describe()

,mpg,cylinders,displacement,weight,acceleration,model_year,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [8]:
df['mpg'].mean()

np.float64(23.514572864321607)

In [9]:
df.groupby('model_year')[['mpg','cylinders']].mean()

                  mpg  cylinders
model_year
70          17.689655   6.758621
71          21.250000   5.571429
72          18.714286   5.821429
73          17.100000   6.375000
74          22.703704   5.259259
75          20.266667   5.600000
76          21.573529   5.647059
77          23.375000   5.464286
78          24.061111   5.361111
79          25.093103   5.827586
80          33.696552   4.137931
81          30.334483   4.620690
82          31.709677   4.193548

In [10]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [11]:
df.groupby('model_year')[['mpg','horsepower','weight']].mean(numeric_only = True)

                  mpg       weight
model_year
70          17.689655  3372.793103
71          21.250000  2995.428571
72          18.714286  3237.714286
73          17.100000  3419.025000
74          22.703704  2877.925926
75          20.266667  3176.800000
76          21.573529  3078.735294
77          23.375000  2997.357143
78          24.061111  2861.805556
79          25.093103  3055.344828
80          33.696552  2436.655172
81          30.334483  2522.931034
82          31.709677  2453.548387

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    int64
 8   name          398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [13]:
df['horsepower'] = pd.to_numeric(df['horsepower'],errors='coerce')

In [14]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    int64
 8   name          398 non-null    object
dtypes: float64(4), int64(4), object(1)
memory usage: 28.1+ KB

In [16]:
df.groupby('model_year')[['mpg','horsepower','weight']].mean(numeric_only = True)

                  mpg  horsepower       weight
model_year
70          17.689655  147.827586  3372.793103
71          21.250000  107.037037  2995.428571
72          18.714286  120.178571  3237.714286
73          17.100000  130.475000  3419.025000
74          22.703704   94.230769  2877.925926
75          20.266667  101.066667  3176.800000
76          21.573529  101.117647  3078.735294
77          23.375000  105.071429  2997.357143
78          24.061111   99.694444  2861.805556
79          25.093103  101.206897  3055.344828
80          33.696552   77.481481  2436.655172
81          30.334483   81.035714  2522.931034
82          31.709677   81.466667  2453.548387

In [17]:
avg_year = df.groupby(['model_year','origin'])[['mpg','horsepower','weight']].mean()

In [18]:
avg_year.index

MultiIndex([(70, 1),
            (70, 2),
            (70, 3),
            (71, 1),
            (71, 2),
            (71, 3),
            (72, 1),
            (72, 2),
            (72, 3),
            (73, 1),
            (73, 2),
            (73, 3),
            (74, 1),
            (74, 2),
            (74, 3),
            (75, 1),
            (75, 2),
            (75, 3),
            (76, 1),
            (76, 2),
            (76, 3),
            (77, 1),
            (77, 2),
            (77, 3),
            (78, 1),
            (78, 2),
            (78, 3),
            (79, 1),
            (79, 2),
            (79, 3),
            (80, 1),
            (80, 2),
            (80, 3),
            (81, 1),
            (81, 2),
            (81, 3),
            (82, 1),
            (82, 2),
            (82, 3)],
           names=['model_year', 'origin'])

In [19]:
avg_year.columns

Index(['mpg', 'horsepower', 'weight'], dtype='object')

In [20]:
avg_year['mpg']

model_year  origin
70          1         15.272727
            2         25.200000
            3         25.500000
71          1         18.100000
            2         28.750000
            3         29.500000
72          1         16.277778
            2         22.000000
            3         24.200000
73          1         15.034483
            2         24.000000
            3         20.000000
74          1         18.333333
            2         27.000000
            3         29.333333
75          1         17.550000
            2         24.500000
            3         27.500000
76          1         19.431818
            2         24.250000
            3         28.000000
77          1         20.722222
            2         29.250000
            3         27.416667
78          1         21.772727
            2         24.950000
            3         29.687500
79          1         23.478261
            2         30.450000
            3         32.950000
80          1         25.914286
            2         37.288889
            3         35.400000
81          1         27.530769
            2         31.575000
            3         32.958333
82          1         29.450000
            2         40.000000
            3         34.888889
Name: mpg, dtype: float64

In [21]:
df.groupby('model_year').describe()

             mpg                                                          \
           count       mean       std   min     25%    50%     75%   max
model_year
70          29.0  17.689655  5.339231   9.0  14.000  16.00  22.000  27.0
71          28.0  21.250000  6.591942  12.0  15.500  19.00  27.000  35.0
72          28.0  18.714286  5.435529  11.0  13.750  18.50  23.000  28.0
73          40.0  17.100000  4.700245  11.0  13.000  16.00  20.000  29.0
74          27.0  22.703704  6.420010  13.0  16.000  24.00  27.000  32.0
75          30.0  20.266667  4.940566  13.0  16.000  19.50  23.000  33.0
76          34.0  21.573529  5.889297  13.0  16.750  21.00  26.375  33.0
77          28.0  23.375000  6.675862  15.0  17.375  21.75  30.000  36.0
78          36.0  24.061111  6.898044  16.2  19.350  20.70  28.000  43.1
79          29.0  25.093103  6.794217  15.5  19.200  23.90  31.800  37.3
80          29.0  33.696552  7.037983  19.1  29.800  32.70  38.100  46.6
81          29.0  30.334483  5.591465  17.6  26.600  31.60  34.400  39.1
82          31.0  31.709677  5.392548  22.0  27.000  32.00  36.000  44.0

           cylinders            ... acceleration       origin            \
               count      mean  ...          75%   max  count      mean
model_year                      ...
70              29.0  6.758621  ...       15.000  20.5   29.0  1.310345
71              28.0  5.571429  ...       16.125  20.5   28.0  1.428571
72              28.0  5.821429  ...       16.625  23.5   28.0  1.535714
73              40.0  6.375000  ...       16.000  21.0   40.0  1.375000
74              27.0  5.259259  ...       17.000  21.0   27.0  1.666667
75              30.0  5.600000  ...       17.375  21.0   30.0  1.466667
76              34.0  5.647059  ...       17.550  22.2   34.0  1.470588
77              28.0  5.464286  ...       16.925  19.0   28.0  1.571429
78              36.0  5.361111  ...       16.825  21.5   36.0  1.611111
79              29.0  5.827586  ...       17.300  24.8   29.0  1.275862
80              29.0  4.137931  ...       18.700  23.7   29.0  2.206897
81              29.0  4.620690  ...       17.300  20.7   29.0  1.965517
82              31.0  4.193548  ...       18.000  24.6   31.0  1.645161


                 std  min  25%  50%  75%  max
model_year
70          0.603765  1.0  1.0  1.0  1.0  3.0
71          0.741798  1.0  1.0  1.0  2.0  3.0
72          0.792658  1.0  1.0  1.0  2.0  3.0
73          0.667467  1.0  1.0  1.0  2.0  3.0
74          0.832050  1.0  1.0  1.0  2.0  3.0
75          0.730297  1.0  1.0  1.0  2.0  3.0
76          0.706476  1.0  1.0  1.0  2.0  3.0
77          0.835711  1.0  1.0  1.0  2.0  3.0
78          0.837608  1.0  1.0  1.0  2.0  3.0
79          0.591400  1.0  1.0  1.0  1.0  3.0
80          0.818505  1.0  2.0  2.0  3.0  3.0
81          0.944259  1.0  1.0  2.0  3.0  3.0
82          0.914636  1.0  1.0  1.0  3.0  3.0

[13 rows x 56 columns]

In [22]:
df.groupby('model_year').describe().transpose()

model_year                   70           71           72           73  \
mpg          count    29.000000    28.000000    28.000000    40.000000
             mean     17.689655    21.250000    18.714286    17.100000
             std       5.339231     6.591942     5.435529     4.700245
             min       9.000000    12.000000    11.000000    11.000000
             25%      14.000000    15.500000    13.750000    13.000000
             50%      16.000000    19.000000    18.500000    16.000000
             75%      22.000000    27.000000    23.000000    20.000000
             max      27.000000    35.000000    28.000000    29.000000
cylinders    count    29.000000    28.000000    28.000000    40.000000
             mean      6.758621     5.571429     5.821429     6.375000
             std       1.724926     1.665079     2.073708     1.807215
             min       4.000000     4.000000     3.000000     3.000000
             25%       6.000000     4.000000     4.000000     4.000000
             50%       8.000000     6.000000     4.000000     7.000000
             75%       8.000000     6.500000     8.000000     8.000000
             max       8.000000     8.000000     8.000000     8.000000
displacement count    29.000000    28.000000    28.000000    40.000000
             mean    281.413793   209.750000   218.375000   256.875000
             std     124.421380   115.102410   123.781964   121.722085
             min      97.000000    71.000000    70.000000    68.000000
             25%     198.000000    97.750000   109.250000   121.750000
             50%     307.000000   228.500000   131.000000   276.000000
             75%     383.000000   273.000000   326.000000   350.250000
             max     455.000000   400.000000   429.000000   455.000000
horsepower   count    29.000000    27.000000    28.000000    40.000000
             mean    147.827586   107.037037   120.178571   130.475000
             std      53.734844    38.566109    41.121368    46.412304
             min      46.000000    60.000000    54.000000    46.000000
             25%      95.000000    81.000000    86.750000    93.250000
             50%     150.000000    95.000000   104.500000   129.500000
             75%     198.000000   130.000000   150.750000   160.250000
             max     225.000000   180.000000   208.000000   230.000000
weight       count    29.000000    28.000000    28.000000    40.000000
             mean   3372.793103  2995.428571  3237.714286  3419.025000
             std     852.868663  1061.830859   974.520960   974.809133
             min    1835.000000  1613.000000  2100.000000  1867.000000
             25%    2648.000000  2110.750000  2285.500000  2554.500000
             50%    3449.000000  2798.000000  2956.000000  3338.500000
             75%    4312.000000  3603.250000  4169.750000  4247.250000
             max    4732.000000  5140.000000  4633.000000  4997.000000
acceleration count    29.000000    28.000000    28.000000    40.000000
             mean     12.948276    15.142857    15.125000    14.312500
             std       3.330982     2.666171     2.850032     2.754222
             min       8.000000    11.500000    11.000000     9.500000
             25%      10.000000    13.375000    13.375000    12.500000
             50%      12.500000    14.500000    14.500000    14.000000
             75%      15.000000    16.125000    16.625000    16.000000
             max      20.500000    20.500000    23.500000    21.000000
origin       count    29.000000    28.000000    28.000000    40.000000
             mean      1.310345     1.428571     1.535714     1.375000
             std       0.603765     0.741798     0.792658     0.667467
             min       1.000000     1.000000     1.000000     1.000000
             25%       1.000000     1.000000     1.000000     1.000000
             50%       1.000000     1.000000     1.000000     1.000000
             75%       1.000000     2.000000     2.000000     2.000000
             max       3.000000     3.000000     3.000000     3.000000

model_year                   74           75           76           77  \
mpg          count    27.000000    30.000000    34.000000    28.000000
             mean     22.703704    20.266667    21.573529    23.375000
             std       6.420010     4.940566     5.889297     6.675862
             min      13.000000    13.000000    13.000000    15.000000
             25%      16.000000    16.000000    16.750000    17.375000
             50%      24.000000    19.500000    21.000000    21.750000
             75%      27.000000    23.000000    26.375000    30.000000
             max      32.000000    33.000000    33.000000    36.000000
cylinders    count    27.000000    30.000000    34.000000    28.000000
             mean      5.259259     5.600000     5.647059     5.464286
             std       1.583390     1.522249     1.667558     1.815206
             min       4.000000     4.000000     4.000000     3.000000
             25%       4.000000     4.000000     4.000000     4.000000
             50%       4.000000     6.000000     6.000000     4.000000
             75%       6.000000     6.000000     7.500000     8.000000
             max       8.000000     8.000000     8.000000     8.000000
displacement count    27.000000    30.000000    34.000000    28.000000
             mean    171.740741   205.533333   197.794118   191.392857
             std      92.601127    87.669730    94.422256   107.813742
             min      71.000000    90.000000    85.000000    79.000000
             25%      90.000000   121.000000   102.500000    97.750000
             50%     122.000000   228.000000   184.000000   143.000000
             75%     250.000000   250.000000   291.000000   270.500000
             max     350.000000   400.000000   351.000000   400.000000
horsepower   count    26.000000    30.000000    34.000000    28.000000
             mean     94.230769   101.066667   101.117647   105.071429
             std      29.686775    26.577062    32.430592    36.095479
             min      52.000000    53.000000    52.000000    58.000000
             25%      75.000000    84.250000    78.250000    78.000000
             50%      88.000000    97.000000    93.500000    97.500000
             75%     103.750000   110.000000   120.000000   115.000000
             max     150.000000   170.000000   180.000000   190.000000
weight       count    27.000000    30.000000    34.000000    28.000000
             mean   2877.925926  3176.800000  3078.735294  2997.357143
             std     949.308571   765.179781   821.371481   912.825902
             min    1649.000000  1795.000000  1795.000000  1825.000000
             25%    2116.500000  2676.750000  2228.750000  2135.000000
             50%    2489.000000  3098.500000  3171.500000  2747.500000
             75%    3622.500000  3662.250000  3803.750000  3925.000000
             max    4699.000000  4668.000000  4380.000000  4335.000000
acceleration count    27.000000    30.000000    34.000000    28.000000
             mean     16.203704    16.050000    15.941176    15.435714
             std       1.688532     2.471737     2.801419     2.273391
             min      13.500000    11.500000    12.000000    11.100000
             25%      15.250000    14.125000    13.925000    14.000000
             50%      16.000000    16.000000    15.500000    15.650000
             75%      17.000000    17.375000    17.550000    16.925000
             max      21.000000    21.000000    22.200000    19.000000
origin       count    27.000000    30.000000    34.000000    28.000000
             mean      1.666667     1.466667     1.470588     1.571429
             std       0.832050     0.730297     0.706476     0.835711
             min       1.000000     1.000000     1.000000     1.000000
             25%       1.000000     1.000000     1.000000     1.000000
             50%       1.000000     1.000000     1.000000     1.000000
             75%       2.000000     2.000000     2.000000     2.000000
             max       3.000000     3.000000     3.000000     3.000000

model_year                   78           79           80           81  \
mpg          count    36.000000    29.000000    29.000000    29.000000
             mean     24.061111    25.093103    33.696552    30.334483
             std       6.898044     6.794217     7.037983     5.591465
             min      16.200000    15.500000    19.100000    17.600000
             25%      19.350000    19.200000    29.800000    26.600000
             50%      20.700000    23.900000    32.700000    31.600000
             75%      28.000000    31.800000    38.100000    34.400000
             max      43.100000    37.300000    46.600000    39.100000
cylinders    count    36.000000    29.000000    29.000000    29.000000
             mean      5.361111     5.827586     4.137931     4.620690
             std       1.495761     1.774199     0.580895     1.082781
             min       4.000000     4.000000     3.000000     4.000000
             25%       4.000000     4.000000     4.000000     4.000000
             50%       5.500000     6.000000     4.000000     4.000000
             75%       6.000000     8.000000     4.000000     6.000000
             max       8.000000     8.000000     6.000000     8.000000
displacement count    36.000000    29.000000    29.000000    29.000000
             mean    177.805556   206.689655   115.827586   135.310345
             std      76.012713    96.307581    33.744914    58.387929
             min      78.000000    85.000000    70.000000    79.000000
             25%     115.500000   121.000000    90.000000    98.000000
             50%     159.500000   183.000000   107.000000   119.000000
             75%     231.000000   302.000000   140.000000   151.000000
             max     318.000000   360.000000   225.000000   350.000000
horsepower   count    36.000000    29.000000    27.000000    28.000000
             mean     99.694444   101.206897    77.481481    81.035714
             std      28.436214    28.455955    18.173037    18.105620
             min      48.000000    65.000000    48.000000    58.000000
             25%      82.500000    77.000000    66.000000    65.000000
             50%      97.000000    90.000000    75.000000    75.500000
             75%     116.250000   125.000000    90.000000    89.000000
             max     165.000000   155.000000   132.000000   120.000000
weight       count    36.000000    29.000000    29.000000    29.000000
             mean   2861.805556  3055.344828  2436.655172  2522.931034
             std     626.023907   747.881497   432.235491   533.600501
             min    1800.000000  1915.000000  1835.000000  1755.000000
             25%    2282.500000  2556.000000  2110.000000  2065.000000
             50%    2910.000000  3190.000000  2335.000000  2385.000000
             75%    3410.000000  3725.000000  2800.000000  2900.000000
             max    4080.000000  4360.000000  3381.000000  3725.000000
acceleration count    36.000000    29.000000    29.000000    29.000000
             mean     15.805556    15.813793    16.934483    16.306897
             std       2.129915     2.952931     2.826694     2.192509
             min      11.200000    11.300000    11.400000    12.600000
             25%      14.475000    14.000000    15.100000    14.800000
             50%      15.750000    15.000000    16.500000    16.200000
             75%      16.825000    17.300000    18.700000    17.300000
             max      21.500000    24.800000    23.700000    20.700000
origin       count    36.000000    29.000000    29.000000    29.000000
             mean      1.611111     1.275862     2.206897     1.965517
             std       0.837608     0.591400     0.818505     0.944259
             min       1.000000     1.000000     1.000000     1.000000
             25%       1.000000     1.000000     2.000000     1.000000
             50%       1.000000     1.000000     2.000000     2.000000
             75%       2.000000     1.000000     3.000000     3.000000
             max       3.000000     3.000000     3.000000     3.000000

model_year                   82
mpg          count    31.000000
             mean     31.709677
             std       5.392548
             min      22.000000
             25%      27.000000
             50%      32.000000
             75%      36.000000
             max      44.000000
cylinders    count    31.000000
             mean      4.193548
             std       0.601074
             min       4.000000
             25%       4.000000
             50%       4.000000
             75%       4.000000
             max       6.000000
displacement count    31.000000
             mean    128.870968
             std      39.352037
             min      91.000000
             25%     105.000000
             50%     119.000000
             75%     142.000000
             max     262.000000
horsepower   count    30.000000
             mean     81.466667
             std      13.296962
             min      52.000000
             25%      70.000000
             50%      84.000000
             75%      88.000000
             max     112.000000
weight       count    31.000000
             mean   2453.548387
             std     354.276713
             min    1965.000000
             25%    2127.500000
             50%    2525.000000
             75%    2727.500000
             max    3035.000000
acceleration count    31.000000
             mean     16.638710
             std       2.484844
             min      11.600000
             25%      14.850000
             50%      16.400000
             75%      18.000000
             max      24.600000
origin       count    31.000000
             mean      1.645161
             std       0.914636
             min       1.000000
             25%       1.000000
             50%       1.000000
             75%       3.000000
             max       3.000000

In [23]:
year_cylinder = df.groupby(['model_year','cylinders']).mean(numeric_only=True)

In [24]:
year_cylinder

                            mpg  displacement  horsepower       weight  \
model_year cylinders
70         4          25.285714    107.000000   87.714286  2292.571429
           6          20.500000    199.000000   91.750000  2710.500000
           8          14.111111    367.555556  183.666667  3940.055556
71         4          27.461538    101.846154   77.583333  2056.384615
           6          18.000000    243.375000   98.875000  3171.875000
           8          13.428571    371.714286  166.857143  4537.714286
72         3          19.000000     70.000000   97.000000  2330.000000
           4          23.428571    111.535714   85.142857  2382.642857
           8          13.615385    344.846154  159.692308  4228.384615
73         3          18.000000     70.000000   90.000000  2124.000000
           4          22.727273    109.272727   82.909091  2338.090909
           6          19.000000    212.250000  102.125000  2917.125000
           8          13.200000    365.250000  170.000000  4279.050000
74         4          27.800000     96.533333   74.000000  2151.466667
           6          17.857143    230.428571  101.666667  3320.000000
           8          14.200000    315.200000  146.000000  4438.400000
75         4          25.250000    114.833333   84.916667  2489.250000
           6          17.583333    233.750000   96.750000  3398.333333
           8          15.666667    330.500000  142.000000  4108.833333
76         4          26.766667    106.333333   75.600000  2306.600000
           6          20.000000    221.400000   98.700000  3349.600000
           8          14.666667    324.000000  146.333333  4064.666667
77         3          21.500000     80.000000  110.000000  2720.000000
           4          29.107143    106.500000   78.785714  2205.071429
           6          19.500000    220.400000  102.000000  3383.000000
           8          16.000000    335.750000  152.375000  4177.500000
78         4          29.576471    112.117647   79.705882  2296.764706
           5          20.300000    131.000000  103.000000  2830.000000
           6          19.066667    213.250000  109.833333  3314.166667
           8          19.050000    300.833333  135.500000  3563.333333
79         4          31.525000    113.583333   75.750000  2357.583333
           5          25.400000    183.000000   77.000000  3530.000000
           6          22.950000    205.666667  105.000000  3025.833333
           8          18.630000    321.400000  131.900000  3862.900000
80         3          23.700000     70.000000  100.000000  2420.000000
           4          34.612000    111.000000   74.043478  2360.080000
           5          36.400000    121.000000   67.000000  2950.000000
           6          25.900000    196.500000  111.000000  3145.500000
81         4          32.814286    108.857143   72.950000  2275.476190
           6          23.428571    184.000000  100.714286  3093.571429
           8          26.600000    350.000000  105.000000  3725.000000
82         4          32.071429    118.571429   79.148148  2402.321429
           6          28.333333    225.000000  102.333333  2931.666667

                      acceleration    origin
model_year cylinders
70         4             16.000000  2.285714
           6             15.500000  1.000000
           8             11.194444  1.000000
71         4             16.961538  1.923077
           6             14.750000  1.000000
           8             12.214286  1.000000
72         3             13.500000  3.000000
           4             17.214286  1.928571
           8             13.000000  1.000000
73         3             13.500000  3.000000
           4             17.136364  2.000000
           6             15.687500  1.250000
           8             12.250000  1.000000
74         4             16.400000  2.200000
           6             16.857143  1.000000
           8             14.700000  1.000000
75         4             15.833333  2.166667
           6             17.708333  1.000000
           8             13.166667  1.000000
76         4             16.866667  1.866667
           6             17.000000  1.300000
           8             13.222222  1.000000
77         3             13.500000  3.000000
           4             16.064286  1.857143
           6             16.900000  1.400000
           8             13.662500  1.000000
78         4             16.282353  2.117647
           5             15.900000  2.000000
           6             16.391667  1.166667
           8             13.266667  1.000000
79         4             15.991667  1.583333
           5             20.100000  2.000000
           6             15.433333  1.000000
           8             15.400000  1.000000
80         3             12.500000  3.000000
           4             17.144000  2.200000
           5             19.900000  2.000000
           6             15.050000  2.000000
81         4             16.466667  2.095238
           6             15.442857  1.714286
           8             19.000000  1.000000
82         4             16.703571  1.714286
           6             16.033333  1.000000

In [25]:
year_cylinder.index

MultiIndex([(70, 4),
            (70, 6),
            (70, 8),
            (71, 4),
            (71, 6),
            (71, 8),
            (72, 3),
            (72, 4),
            (72, 8),
            (73, 3),
            (73, 4),
            (73, 6),
            (73, 8),
            (74, 4),
            (74, 6),
            (74, 8),
            (75, 4),
            (75, 6),
            (75, 8),
            (76, 4),
            (76, 6),
            (76, 8),
            (77, 3),
            (77, 4),
            (77, 6),
            (77, 8),
            (78, 4),
            (78, 5),
            (78, 6),
            (78, 8),
            (79, 4),
            (79, 5),
            (79, 6),
            (79, 8),
            (80, 3),
            (80, 4),
            (80, 5),
            (80, 6),
            (81, 4),
            (81, 6),
            (81, 8),
            (82, 4),
            (82, 6)],
           names=['model_year', 'cylinders'])

In [26]:
year_cylinder.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 43 entries, (np.int64(70), np.int64(4)) to (np.int64(82), np.int64(6))
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           43 non-null     float64
 1   displacement  43 non-null     float64
 2   horsepower    43 non-null     float64
 3   weight        43 non-null     float64
 4   acceleration  43 non-null     float64
 5   origin        43 non-null     float64
dtypes: float64(6)
memory usage: 2.3 KB

In [27]:
year_cylinder.loc[70]

,mpg,displacement,horsepower,weight,acceleration,origin
cylinders,,,,,,
4,25.285714,107.000000,87.714286,2292.571429,16.000000,2.285714
6,20.500000,199.000000,91.750000,2710.500000,15.500000,1.000000
8,14.111111,367.555556,183.666667,3940.055556,11.194444,1.000000

In [28]:
year_cylinder.loc[[70,72,73]]

                            mpg  displacement  horsepower       weight  \
model_year cylinders
70         4          25.285714    107.000000   87.714286  2292.571429
           6          20.500000    199.000000   91.750000  2710.500000
           8          14.111111    367.555556  183.666667  3940.055556
72         3          19.000000     70.000000   97.000000  2330.000000
           4          23.428571    111.535714   85.142857  2382.642857
           8          13.615385    344.846154  159.692308  4228.384615
73         3          18.000000     70.000000   90.000000  2124.000000
           4          22.727273    109.272727   82.909091  2338.090909
           6          19.000000    212.250000  102.125000  2917.125000
           8          13.200000    365.250000  170.000000  4279.050000

                      acceleration    origin
model_year cylinders
70         4             16.000000  2.285714
           6             15.500000  1.000000
           8             11.194444  1.000000
72         3             13.500000  3.000000
           4             17.214286  1.928571
           8             13.000000  1.000000
73         3             13.500000  3.000000
           4             17.136364  2.000000
           6             15.687500  1.250000
           8             12.250000  1.000000

In [29]:
year_cylinder.loc[(70,8)]

mpg               14.111111
displacement     367.555556
horsepower       183.666667
weight          3940.055556
acceleration      11.194444
origin             1.000000
Name: (70, 8), dtype: float64

In [32]:
# Cross Section
year_cylinder.xs(key=70,axis=0,level='model_year')

,mpg,displacement,horsepower,weight,acceleration,origin
cylinders,,,,,,
4,25.285714,107.000000,87.714286,2292.571429,16.000000,2.285714
6,20.500000,199.000000,91.750000,2710.500000,15.500000,1.000000
8,14.111111,367.555556,183.666667,3940.055556,11.194444,1.000000

In [40]:
year_cylinder.xs(key=6,axis=0,level='cylinders')

,mpg,displacement,horsepower,weight,acceleration,origin
model_year,,,,,,
70,20.500000,199.000000,91.750000,2710.500000,15.500000,1.000000
71,18.000000,243.375000,98.875000,3171.875000,14.750000,1.000000
73,19.000000,212.250000,102.125000,2917.125000,15.687500,1.250000
74,17.857143,230.428571,101.666667,3320.000000,16.857143,1.000000
75,17.583333,233.750000,96.750000,3398.333333,17.708333,1.000000
76,20.000000,221.400000,98.700000,3349.600000,17.000000,1.300000
77,19.500000,220.400000,102.000000,3383.000000,16.900000,1.400000
78,19.066667,213.250000,109.833333,3314.166667,16.391667,1.166667
79,22.950000,205.666667,105.000000,3025.833333,15.433333,1.000000
80,25.900000,196.500000,111.000000,3145.500000,15.050000,2.000000
81,23.428571,184.000000,100.714286,3093.571429,15.442857,1.714286
82,28.333333,225.000000,102.333333,2931.666667,16.033333,1.000000

In [36]:
[df[df['cylinders'].isin([6,8])].groupby(['model_year','cylinders']).mean(numeric_only=True)

                            mpg  displacement  horsepower       weight  \
model_year cylinders
70         6          20.500000    199.000000   91.750000  2710.500000
           8          14.111111    367.555556  183.666667  3940.055556
71         6          18.000000    243.375000   98.875000  3171.875000
           8          13.428571    371.714286  166.857143  4537.714286
72         8          13.615385    344.846154  159.692308  4228.384615
73         6          19.000000    212.250000  102.125000  2917.125000
           8          13.200000    365.250000  170.000000  4279.050000
74         6          17.857143    230.428571  101.666667  3320.000000
           8          14.200000    315.200000  146.000000  4438.400000
75         6          17.583333    233.750000   96.750000  3398.333333
           8          15.666667    330.500000  142.000000  4108.833333
76         6          20.000000    221.400000   98.700000  3349.600000
           8          14.666667    324.000000  146.333333  4064.666667
77         6          19.500000    220.400000  102.000000  3383.000000
           8          16.000000    335.750000  152.375000  4177.500000
78         6          19.066667    213.250000  109.833333  3314.166667
           8          19.050000    300.833333  135.500000  3563.333333
79         6          22.950000    205.666667  105.000000  3025.833333
           8          18.630000    321.400000  131.900000  3862.900000
80         6          25.900000    196.500000  111.000000  3145.500000
81         6          23.428571    184.000000  100.714286  3093.571429
           8          26.600000    350.000000  105.000000  3725.000000
82         6          28.333333    225.000000  102.333333  2931.666667

                      acceleration    origin
model_year cylinders
70         6             15.500000  1.000000
           8             11.194444  1.000000
71         6             14.750000  1.000000
           8             12.214286  1.000000
72         8             13.000000  1.000000
73         6             15.687500  1.250000
           8             12.250000  1.000000
74         6             16.857143  1.000000
           8             14.700000  1.000000
75         6             17.708333  1.000000
           8             13.166667  1.000000
76         6             17.000000  1.300000
           8             13.222222  1.000000
77         6             16.900000  1.400000
           8             13.662500  1.000000
78         6             16.391667  1.166667
           8             13.266667  1.000000
79         6             15.433333  1.000000
           8             15.400000  1.000000
80         6             15.050000  2.000000
81         6             15.442857  1.714286
           8             19.000000  1.000000
82         6             16.033333  1.000000

In [41]:
df[df['cylinders'].isin([6,8])].groupby(['model_year','cylinders']).mean(numeric_only=True)

                            mpg  displacement  horsepower       weight  \
model_year cylinders
70         6          20.500000    199.000000   91.750000  2710.500000
           8          14.111111    367.555556  183.666667  3940.055556
71         6          18.000000    243.375000   98.875000  3171.875000
           8          13.428571    371.714286  166.857143  4537.714286
72         8          13.615385    344.846154  159.692308  4228.384615
73         6          19.000000    212.250000  102.125000  2917.125000
           8          13.200000    365.250000  170.000000  4279.050000
74         6          17.857143    230.428571  101.666667  3320.000000
           8          14.200000    315.200000  146.000000  4438.400000
75         6          17.583333    233.750000   96.750000  3398.333333
           8          15.666667    330.500000  142.000000  4108.833333
76         6          20.000000    221.400000   98.700000  3349.600000
           8          14.666667    324.000000  146.333333  4064.666667
77         6          19.500000    220.400000  102.000000  3383.000000
           8          16.000000    335.750000  152.375000  4177.500000
78         6          19.066667    213.250000  109.833333  3314.166667
           8          19.050000    300.833333  135.500000  3563.333333
79         6          22.950000    205.666667  105.000000  3025.833333
           8          18.630000    321.400000  131.900000  3862.900000
80         6          25.900000    196.500000  111.000000  3145.500000
81         6          23.428571    184.000000  100.714286  3093.571429
           8          26.600000    350.000000  105.000000  3725.000000
82         6          28.333333    225.000000  102.333333  2931.666667

                      acceleration    origin
model_year cylinders
70         6             15.500000  1.000000
           8             11.194444  1.000000
71         6             14.750000  1.000000
           8             12.214286  1.000000
72         8             13.000000  1.000000
73         6             15.687500  1.250000
           8             12.250000  1.000000
74         6             16.857143  1.000000
           8             14.700000  1.000000
75         6             17.708333  1.000000
           8             13.166667  1.000000
76         6             17.000000  1.300000
           8             13.222222  1.000000
77         6             16.900000  1.400000
           8             13.662500  1.000000
78         6             16.391667  1.166667
           8             13.266667  1.000000
79         6             15.433333  1.000000
           8             15.400000  1.000000
80         6             15.050000  2.000000
81         6             15.442857  1.714286
           8             19.000000  1.000000
82         6             16.033333  1.000000

In [44]:
df.select_dtypes(include='number').agg(['median','mean','std'])

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
median,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000,1.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627,0.802055

In [45]:
df.agg({
    'mpg':['median','mean'],
    'weight':['mean','std']
})

              mpg       weight
median  23.000000          NaN
mean    23.514573  2970.424623
std           NaN   846.841774