<a href="https://colab.research.google.com/github/aakashkumar089/Class-notes/blob/main/OTS_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Series :- Series is a 1D data

# DataFrame : This is a 2D data (row , col)

In [2]:
ages = [10,20,14,15]

In [3]:
ages = pd.Series([40,50,30,10])

In [4]:
type(ages)

pandas.core.series.Series

In [5]:
ages

0    40
1    50
2    30
3    10
dtype: int64

In [6]:
ages = pd.Series([10,20,30,40],index=["Raj","Ravi","Ankit","Aman"])

In [7]:
print(ages)

Raj      10
Ravi     20
Ankit    30
Aman     40
dtype: int64

In [8]:
ages = pd.Series(data=ages,index=["Raj","Ravi","Ankit","Aman"])

In [9]:
print(ages)

Raj      10
Ravi     20
Ankit    30
Aman     40
dtype: int64

In [10]:
type(ages)

pandas.core.series.Series

In [11]:
ages.shape

(4,)

In [12]:
data = {
    "maths":20,
    "Science":30,
    "Sst":50
}

In [13]:
new_series  = pd.Series(data=data)

print(new_series)

maths      20
Science    30
Sst        50
dtype: int64

In [14]:
marks = pd.Series([40,60,50])

In [15]:
result  = marks>40

print(result)

0    False
1     True
2     True
dtype: bool

In [16]:
marks

0    40
1    60
2    50
dtype: int64

In [17]:
print(marks.mean())

50.0

In [18]:
print(marks.std())

10.0

In [19]:
print(marks.min())

40

In [20]:
print(marks.max())

60

In [21]:
marks

0    40
1    60
2    50
dtype: int64

In [22]:
new_series

maths      20
Science    30
Sst        50
dtype: int64

In [23]:
grades = new_series.apply(lambda x:"Pass" if x >=30 else "Fail")

In [24]:
print(grades)

maths      Fail
Science    Pass
Sst        Pass
dtype: object

## DataFrame

In [25]:
import pandas as pd

In [28]:
df = pd.DataFrame()

In [45]:
pd.DataFrame?

In [29]:
print(df)

Empty DataFrame
Columns: []
Index: []

In [30]:
my_list = ['I','am','building','a','Machine','Learning','Model']

In [31]:
type(my_list)

list

In [32]:
df = pd.DataFrame(my_list)
print(df)
type(df)

          0
0         I
1        am
2  building
3         a
4   Machine
5  Learning
6     Model

pandas.core.frame.DataFrame

In [34]:
df.shape

(7, 1)

In [35]:
import numpy as np
import pandas as pd

In [36]:
data = np.array([[5,7,8],[3,4,5],[2,5,8]])

In [37]:
type(data)

numpy.ndarray

In [38]:
data.shape

(3, 3)

In [39]:
df = pd.DataFrame(data,columns=['Marks A','Marks B','Marks C'])

In [41]:
df

   Marks A  Marks B  Marks C
0        5        7        8
1        3        4        5
2        2        5        8

In [42]:
my_dictionary  = {
    'studentName':['Arvind','Kushal','Sam','Sundar'],
    'Subject':['Maths','Physics','CS','Chemistry'],
    'Marks':[40,50,60,70]
}

In [43]:
df = pd.DataFrame(my_dictionary)

In [44]:
print(df)

  studentName    Subject  Marks
0      Arvind      Maths     40
1      Kushal    Physics     50
2         Sam         CS     60
3      Sundar  Chemistry     70