<a href="https://colab.research.google.com/github/aakashkumar089/Class-notes/blob/main/OTS_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

# Series :- Series is a 1D data

# DataFrame : This is a 2D data (row , col)

In [3]:
ages = [10,20,14,15]

In [4]:
ages = pd.Series([40,50,30,10])

In [7]:
type(ages)

pandas.core.series.Series

In [8]:
ages

0    40
1    50
2    30
3    10
dtype: int64

In [13]:
ages = pd.Series([10,20,30,40],index=["Raj","Ravi","Ankit","Aman"])

In [14]:
print(ages)

Raj      10
Ravi     20
Ankit    30
Aman     40
dtype: int64

In [17]:
ages = pd.Series(data=ages,index=["Raj","Ravi","Ankit","Aman"])

In [18]:
print(ages)

Raj      10
Ravi     20
Ankit    30
Aman     40
dtype: int64

In [19]:
type(ages)

pandas.core.series.Series

In [20]:
ages.shape

(4,)

In [21]:
data = {
    "maths":20,
    "Science":30,
    "Sst":50
}

In [22]:
new_series  = pd.Series(data=data)

print(new_series)

maths      20
Science    30
Sst        50
dtype: int64

In [23]:
marks = pd.Series([40,60,50])

In [26]:
result  = marks>40

print(result)

0    False
1     True
2     True
dtype: bool

In [27]:
marks

0    40
1    60
2    50
dtype: int64

In [28]:
print(marks.mean())

50.0

In [30]:
print(marks.std())

10.0

In [31]:
print(marks.min())

40

In [32]:
print(marks.max())

60

In [33]:
marks

0    40
1    60
2    50
dtype: int64

In [34]:
new_series

maths      20
Science    30
Sst        50
dtype: int64

In [44]:
grades = new_series.apply(lambda x:"Pass" if x >=30 else "Fail")

In [45]:
print(grades)

maths      Fail
Science    Pass
Sst        Pass
dtype: object